<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://unpkg.com/@babel/standalone@7.12.12/babel.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>

  </head>
  <body>
    <div class="rout">
        <a href="/" style="color: black;">Home</a>
      </div>
    <svg id="d3_example" style="height: 500px;" ></svg>
  </body>
  <script src="js/d3.js"></script>
</html>