<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://unpkg.com/@babel/standalone@7.12.12/babel.min.js"></script>
  </head>

  <body>
    <div class="image">
      <div class="rout">
        <a href="./d3" >D3</a>
      </div>
      <div class="section">
        <div id="hacker-list">
          <ul class="list"></ul>
        </div>
        <div class="info">
          <h2>Fetch data from api</h2>
          <button id="get-data">Fetch</button>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
  <script src="js/index.js"></script>
</html>